<h1>Nuova intercettazione</h1>
<table>
  <tr>
    <td>
      <% form_for(@interception) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :nr_protocollo %><br />
          <%= f.text_field :nr_protocollo %>
        </p>
        <p>
          <%= f.label :nr_telefono %><br />
          <%= f.text_field :nr_telefono %>
        </p>
        <p>
          <%= f.label :nr_imei %><br />
          <%= f.text_field :nr_imei %>
        </p>
        <p>
          <%= f.label :ambientale %><br />
          <%= f.text_field :ambientale %>
        </p>
        <p>
          <%= f.label :apparato %><br />
          <%= f.text_field :apparato %>
        </p>
        <p>
          <%= f.label :postazione %><br />
          <%= f.text_field :postazione %>
        </p>
        <p>
          <%= f.label :borchia %><br />
          <%= f.text_field :borchia %>
        </p>
        <p>
          <%= f.label :P_P %><br />
          <%= f.text_field :P_P %>
        </p>
        <p>
          <%= f.label :decreto %><br />
          <%= f.text_field :decreto %>
        </p>
        <p>
          <%= f.label :data_decreto %><br />
          <%= f.date_select :data_decreto, :include_blank => true, :start_year => 2009, :use_month_numbers => true %>
        </p>
        <p>
          <%= f.label :ag %><br />
          <%= f.text_field :ag %>
        </p>
        <p>
          <%= f.label :data_attivazione %><br />
          <%= f.date_select :data_attivazione, :include_blank => true, :start_year => 2009, :use_month_numbers => true %>
        </p>
        <p>
          <%= f.label :data_termine %><br />
          <%= f.date_select :data_termine, :include_blank => true, :start_year => 2009, :use_month_numbers => true %>
        </p>
        <p>
          <%= f.label :nr_cd_dvd %><br />
          <%= f.text_field :nr_cd_dvd %>
        </p>
        <p>
          <%= f.label :cd_dvd_atti %><br />
          <%= f.check_box :cd_dvd_atti %>
        </p>
        <p>
          <%= f.label :verbale_inizio %><br />
          <%= f.check_box :verbale_inizio %>
        </p>
        <p>
          <%= f.label :verbale_fine %><br />
          <%= f.check_box :verbale_fine %>
        </p>
        <p>
          <%= f.label :brogliaccio %><br />
          <%= f.check_box :brogliaccio %>
        </p>
        <p>
          <%= f.label :deposito_cd_dvd %><br />
          <%= f.check_box :deposito_cd_dvd %>
        </p>
        <p>
          <%= f.label :deposito_gps %><br />
          <%= f.check_box :deposito_gps %>
        </p>
        <p>
          <%= f.label :scadenza %><br />
          <%= f.date_select :scadenza, :include_blank => true, :start_year => 2009, :use_month_numbers => true %>
        </p>
        <p>
          <%= f.label :cessata %><br />
          <%= f.check_box :cessata %>
        </p>

      </td>

      <td>
        <p>
          <%= f.label :ln_tim %><br />
          <%= f.text_field :ln_tim %>
        </p>
        <p>
          <%= f.label :ln_vodafone %><br />
          <%= f.text_field :ln_vodafone %>
        </p>
        <p>
          <%= f.label :ln_wind %><br />
          <%= f.text_field :ln_wind %>
        </p>
        <p>
          <%= f.label :ln_sparkle %><br />
          <%= f.text_field :ln_sparkle %>
        </p>
        <p>
          <%= f.label :wind_int %><br />
          <%= f.text_field :wind_int %>
        </p>
        <p>
          <%= f.label :ln_infostrada %><br />
          <%= f.text_field :ln_infostrada %>
        </p>
        <p>
          <%= f.label :ln_CeW %><br />
          <%= f.text_field :ln_CeW %>
        </p>
        <p>
          <%= f.label :ln_eutelia %><br />
          <%= f.text_field :ln_eutelia %>
        </p>
        <p>
          <%= f.label :ln_telecom %><br />
          <%= f.text_field :ln_telecom %>
        </p>
        <p>
          <%= f.label :ln_bt %><br />
          <%= f.text_field :ln_bt %>
        </p>
        <p>
          <%= f.label :ln_albacom %><br />
          <%= f.text_field :ln_albacom %>
        </p>
        <p>
          <%= f.label :ln_h3g %><br />
          <%= f.text_field :ln_h3g %>
        </p>

        <p>
          <%= f.label :e_mail_appoggio %><br />
          <%= f.text_field :e_mail_appoggio %>
        </p>
        <p>
          <%= f.label :rif_wind %><br />
          <%= f.text_field :rif_wind %>
        </p>
        <p>
          <%= f.label :in_scadenza %><br />
          <%= f.check_box :in_scadenza %>
        </p>
        <p>
          <%= f.label :rif_vodafone %><br />
          <%= f.text_field :rif_vodafone %>
        </p>
        <p>
          <%= f.label :positioning %><br />
          <%= f.check_box :positioning %>
        </p>
        <p>
          <%= f.label :e_mail_positioning %><br />
          <%= f.text_field :e_mail_positioning %>
        </p>
        <p>
          <%= f.label :procedura %><br />
          <%= f.text_field :procedura %>
        </p>
        <p>
          <%= f.label :operatore %><br />
          <%= f.text_field :operatore %>
        </p>
        <p>
          <%= f.label :magistratro %><br />
          <%= f.text_field :magistratro %>
        </p>

        <p>
          <%= f.label :alias_linea %><br />
          <%= f.text_field :alias_linea %>
        </p>


      </td>
      <td>
        <p>

          <%= f.label :name_id %><br />
          <%= f.collection_select :name_id,  Name.find(:all, :order =>"cognome_nome ASC"), :id, :cognome_nome, :include_blank=>true %>

        </p>
        <p>

          <%= f.label :investigation_id %><br />
          <%= f.collection_select :investigation_id, Investigation.find(:all, :order => "indagine ASC"), :id, :indagine, :include_blank=>true %>

        </p>
      </td>
    </tr>
  </table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', interceptions_path %>